<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>370822075510-ngskf1f7ud8lkbduh3s27k3opu6m1v91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370822075510-ngskf1f7ud8lkbduh3s27k3opu6m1v91</string>
	<key>API_KEY</key>
	<string>AIzaSyBGp6xevN3OmsxXemrR8vFoYjpoSbQ7vNg</string>
	<key>GCM_SENDER_ID</key>
	<string>370822075510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Koob.ULink</string>
	<key>PROJECT_ID</key>
	<string>ulink-f40aa</string>
	<key>STORAGE_BUCKET</key>
	<string>ulink-f40aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370822075510:ios:bf3cdd60995f271b</string>
	<key>DATABASE_URL</key>
	<string>https://ulink-f40aa.firebaseio.com</string>
</dict>
</plist>